<mat-toolbar>To do list:</mat-toolbar>
<mat-card class="todocard">




	<button mat-button (click)="sortByName()" >Sort by Name</button>


	<mat-list role="list">
		<!-- orderBy:'name'" -->
		<mat-toolbar *ngFor="let item of todoList | async"   class="todoitem" color="primary">
			<mat-toolbar-row>

				<span [ngClass]="{'done-true': item.isDone, 'done-false': !item.isDone}">{{item.content | titlecase}}</span>
				<span class="example-spacer"></span>
				<span [ngClass]="{'done-true': item.isDone, 'done-false': !item.isDone}">{{item.priority}}</span>
				
				<span class="example-spacer"></span>
				<mat-icon (click)="markItemAsDone(item)" class="btn" *ngIf="!item.isDone"> check</mat-icon>
				<mat-icon (click)="markItemAsNotDone(item)" class="btn" *ngIf="item.isDone"> undo</mat-icon>

				<mat-icon (click)="editItem(item)" class="btn"> edit</mat-icon>
				<mat-icon (click)="deleteItem(item.id)" class="btn">delete</mat-icon>
			</mat-toolbar-row>
		</mat-toolbar>

	</mat-list>


	<button mat-button (click)="addNewItem()" >Add</button>
</mat-card>